@import 'vars';
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  //overflow: hidden;
  outline: none;
}

html,
body {
  font-size: 100%;
  line-height: 1.5;
  color: $p-color;
  text-align: right;
  direction: rtl;
  font-family: 'Droid Arabic Naskh', Helvetica, Arial, 'sans serif';
}

//
//  Default Link Styles

a {
  color: $a-color;
  text-decoration: none;
  line-height: inherit;

  &:hover,
  &:focus {
    color: $hover;
  }
}

//
// General

img {
  height: auto;
  max-width: 100%;
}
.container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgb(245, 245, 245);
  .header{
    height: auto;
    width: auto;
  }
  .container-header{
    position: fixed;
    background-color: $white;
    height: 60px;
    width: 100%;
    margin-top: 0px;
    padding-top: 0;
    border-bottom: 2px solid $border-color;
  }
  .logo-label{
    width: 120px;
    height: auto;
    padding: 10px 20px;
  }
  .header_search{
    position: absolute;
    top: 20%;
    right: 20%;
    .search{
      height: 30px;
      width: 350px;
      font-size: 14px;
      &:focus{
      padding-left:200px;
      margin-left:10px;
      outline: none;}
    }
  }
  .header_nav{
    width: 460px;
    height: 60px;
    //border: 1px solid $gray;
    position: absolute;
    top: 0%;
    right: 65%;
    padding: 0px;
    .fa{
      padding: 0px 5px;
    }
    .link{
      padding: 17px 2px;
      margin-left: -5px !important;
      text-align: center;
      transition: all 0.4s ease;
      &:hover{
        background-color: $a-color;
        color: $white
      }
    }
    li{list-style: none;}
  }
  .signup-form{
    position: relative;
    top: 50%;
    right: 50%;
    transform: translate(53.5%, 17%);
    width: 400px;
    height: 300px;
    background-color: $white;
    border-radius: 4px;
    display: inline-block;
    input[type="text"],
    input[type="password"]{
      height: 35px;
      width: 100%;
      margin-top: 0.8em;
      padding-right: 6px;
      &:hover{
        border: 1px solid $success;
      }
      &:active{
        border: 1px solid $success;
      }
      &:focus{
        border: 1px solid $success;
      }
    }
    input[type="submit"]{
      height: 35px;
      width: 100%;
      margin-top: 0.8em;
      background-color: transparent;
      border: 1px solid $a-color;
      color: $a-color;
      font-size: 16px;
      border-radius: 999999px;
      &:hover{
        color: $white;
        background-color: rgba($a-color, 0.5);
      }
    }
  }
}
